<div class="box-contianer">
  <div class="position-relative dice" id="dice">
    <div class="face face-one" id="faceOne">1</div>
    <div class="face face-two" id="faceTwo">2</div>
  </div>
</div>
<button id="toggle">rit</button>