<div class="d-flex flex-column align-items-center pt-5 pb-2 box-contianer">
  <strong class="text-dark h4"><b class="h3">&middot;</b> Sub<em class="text-danger">[String]</em>ify <b class="h3">&middot;</b></strong>
  <div class="position-relative box" id="box">
    <div class="border border-1 face face-one" id="faceOne">
      <%= render partial: 'sessions/login' %>
    </div>
    <div class="border border-1 face face-two" id="faceTwo">
      <%= render partial: 'users/sign_up' %>
    </div>
  </div>
  <button class="mt-auto px-5 bg-white btn btn-link toggle" id="toggle">Sign up</button>
</div>
