<section class="row mt-5 pt-5">
  <table class="table table-striped table-light col-7 mx-auto">
    <thead>
      <tr>
        <th scope="col">Initial Input</th>
        <th scope="col">Longest non-repeating substring</th>
        <th scope="col">Substring Length</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @query%></td>
        <td class="text-center"><%= @sub_string %></td>
        <td class="text-center"><%= @sub_string.length%></td>
      </tr>
    </tbody>
  </table>
</section>