.box-contianer {
  position: relative;
  width: 100%;
  height: auto;
}

.box {
  height: 370px;
  margin-left: -400px;
  transition: 0.5s all linear;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0, 0deg);
}

.face {
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 2px;
}

.face-two {
  transform-origin: left;
  transform: translateX(400px) rotate3d(0,1,0, -90deg);
}

.toggle {
  width: 395px;
  z-index: 99;
}

.rotate {
  transform: rotate3d(0, 1, 0, 90deg);
} 